/* BASE */

@import 'base/base.css';
@import 'base/layout.css';
@import 'base/forms.css';
@import 'base/helpers.css';

/* SETUP */
@import 'setup/vars.css';
@import 'setup/typography.css';

/* PAGES */

/* CMPS */
@import 'cmps/user-msg.css';
@import 'cmps/app-header.css';
@import 'cmps/app-footer.css';
@import 'cmps/toy-list.css';
@import 'cmps/toy-filter.css';
@import 'cmps/toy-edit.css';
@import 'cmps/dashboard.css';
@import 'cmps/shopping-cart.css';
@import 'cmps/login-page.css';
@import 'cmps/google-maps.css';
@import 'cmps/about-us.css';

.app {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.app > * {
	width: 100%;
}

main {
	flex-grow: 1;
}
