.toy-list {
	display: flex;
	flex-wrap: wrap;
	margin-block: 1em;
	gap: 0.5em;

	.toy-preview {
		padding: 1em;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		max-width: 280px;
		border: 1px solid #ccc;
		border-radius: 10px;

		.toy-title {
			font-size: 1.2em;
		}
		.toy-actions {
			width: 100%;
		}

		.highlight {
			font-weight: bold;
		}

		.toy-price {
			font-size: 1.3rem;
		}
	}
}
