.app-header {
	font-size: 1.5em;
	padding: 1em;

	font-family: Buenos-Aires;
	background-color: var(--clr1);
	color: white;
}

.app-nav > :not(:last-child) {
	margin-inline-end: 0.5em;
}

.logo {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 2em;

	-webkit-text-stroke-width: 1.5px;
	-webkit-text-stroke-color: white;
}

.header-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.shopping-cart-link {
	position: relative;
}

.shopping-cart-count {
	position: absolute;
	background-color: red;
	color: white;
	width: 1em;
	height: 1em;
	padding: 0.6em;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	bottom: 90%;
	left: 90%;
}

.btn.close {
	position: absolute;
	margin: 0;
	top: 1em;
	right: 1em;
}
