.toy-filter {
	background-color: var(--clr2bg);
	padding: 1em;
}

.toy-filter > * {
	margin-inline-end: 0.2em;
}
/* 
.dropdown-container {
	position: relative;
	display: inline-block;
}

.toy-filter .dropdown-toggle {
	background-color: var(--clr1);
	color: white;
	border: none;
	padding: 10px;
	cursor: pointer;
	border-radius: 5px;
}

.dropdown-menu {
	position: absolute;
	background-color: white;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	padding: 10px;
	border-radius: 5px;
	z-index: 10;
	display: flex;
	flex-direction: column;
}

.dropdown-menu div {
	margin-bottom: 5px;
} */
