.user-msg {
	display: flex;
	align-items: center;
	background-color: lightgray;
	padding: 1.5em 2.5em;
	position: fixed;
	bottom: 2rem;
	right: 1em;
	color: white;
	border-radius: 2px;
	font-size: 1.1em;
}

.user-msg.success {
	background-color: var(--clr2bg);
}

.user-msg.error {
	background-color: rgba(red, 0.8);
}

.user-msg button {
	font-size: 0.8em;
	float: right;
	margin: 0.5em;
}
