@font-face {
	font-family: 'Buenos-Aires-bold';
	src: url('../../fonts/buenos-aires/BuenosAires-Bold.ttf');
}
@font-face {
	font-family: 'Buenos-Aires';
	src: url('../../fonts/buenos-aires/BuenosAires-Regular.ttf');
}
